@media(max-width:1218px){
	.header__menu{
		margin-right: 50px;
	}
}
@media(max-width:1042px){
	.menu__list li:not(:last-child){
		margin-right: 20px;
	}
}
@media(max-width:991.98px){
	.header__buttons {
		column-gap: 15px;
	}
	.btn-consultation {
		padding: 5px 20px;
	}
	.header__logo{
		margin-right: 10px;
	}
	.header__burger {
		display: block;
		width: 30px;
		height: 20px;
		position: relative;
		margin-right: 20px;
	}
	.header__burger::after,
	.header__burger::before{
		content:'';
		position: absolute;
		width: 100%;
		height: 4px;
		background-color: #0e0303;
		border-radius:2px;
		transition: all 0.5s ease 0s;
	}
	.header__burger::after{
		top: 0px;
	}
	.header__burger::before{
		bottom: 0px;
	}
	.header__burger span{
		position: absolute;
		width: 100%;
		height: 4px;
		border-radius:2px;
		background-color: #0e0303;
		top: 8px;
		transition: all 0.5s ease 0s;
	}
	.header__burger.active::after{
        transform:rotate(-45deg);
        top: 8px;
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        bottom: 8px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
	.header__menu{
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(255, 255, 255) ;
		z-index: 2;
		left: -100%;
		text-align: center;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease 0s;
        overflow: auto;
	}
	.menu__list{
		padding-top: 120px;
		display: inline-block;
	}
	.menu__list li:not(:last-child){
		margin-right: 0px;
		margin-bottom: 15px;
	}
	.menu__link{
		font-size: 30px;
	}
	.header__menu.active{
        left: 0;
        right: 0;
        text-align: center;
		z-index: 1;
    }
    body.lock{
        overflow: hidden;
    }
	.header::before{
		background-image: linear-gradient(55.95deg, #f58885 0%, #f58885 100%);
		opacity: 1;
	}
}
@media(max-width:767.98px){
	.header__body{
		min-height: 70px;
	}
}
@media(max-width:570px){
	.header__buttons .btn-consultation{
		display: none;
	}
	.header__menu .btn-consultation{
		padding: 5px 20px;
		min-height: 52px;
		flex: 1 0 auto;
		justify-content: center;
		align-items: center;
	}
	.menu__btn {
		display: block;
		padding: 0 20px;
	}
	.menu__list:not(:last-child){
		margin-bottom: 20px;
	}
}
@media(max-width:390px){
	.button-authorization{
		font-size: 0;
	}
	.button-authorization::before {
		content:'';
		background:url('../img/profile.svg') 0 0 / 30px no-repeat;
		width: 40px;
		height: 30px;
	}
}
/* -------------------------------------------------------------------------- */
/* --------------------------------aboutthecourse---------------------------- */
@media(max-width:991.98px){
	.page__course {
		padding-top: 140px;
		padding-bottom: 80px;
}
	.aboutthecourse__container {
		margin-top: 70px;
	}
	.aboutthecourse__body {
		flex-direction: column;
	}
	.aboutthecourse__sidebar {
		flex: 1 1 100%;
		max-width: none;
	}
	.aboutthecourse__sidebar:hover{
		transform: none;	
	}
	.aboutthecourse__content {
		max-width: none;
		flex: 1 1 100%;
		margin-bottom: 30px;
	}
	.aboutthecourse__title {
		margin-bottom: 20px;
	}
	
	.aboutthecourse__text {
		margin-bottom: 20px;
	}
	.aboutthecourse-list__title {
		margin-bottom: 18px;
	}
}
@media(max-width:767.98px){
	.page__course {
		padding-top: 110px;
		padding-bottom: 50px;
		position: relative;
	}
	.aboutthecourse__container {
		margin-top: 40px;
	}
	.aboutthecourse__content {
		margin-bottom: 20px;
	}
	.aboutthecourse__title {
		margin-bottom: 10px;
	}
	.aboutthecourse__text {
		margin-bottom: 10px;
	}
	.aboutthecourse-list__title {
		margin-bottom: 10px;
		font-size: 24px;
	}
	.sidebar-title {
		font-size: 20px;
	}
	.sidebar-aboutthecourse__item:not(:last-child){
		margin-bottom: 25px;
	}
	.aboutthecourse__items {
		margin-bottom: 30px;
	}
}
/* -------------------------------------------------------------------------- */
/* --------------------------------course-curator---------------------------- */
@media(max-width:991.98px){
	.course-curator__container {
		margin-top: 80px;
	}
	.course-curator__content {
		padding: 20px 0px 0px 40px;	
		margin-bottom: 100px;
	}
	.course-curator__body {
		flex-direction: column-reverse;
		align-items: stretch;
	}
	.course-curator__image {
		text-align: center;
		padding: 0;
		margin-top: 15px;
	}
	.course-curator__text {
		max-width: none;
	}
	.course-curator__position {
		margin-bottom: 20px;
	}
	.course-curator__list {
		margin-bottom: 25px;
	}
	.course-curator__text {
		max-width: none;
		margin-bottom: 20px;
	}
	.course-curator__content {
		padding: 0px;
	}
}
@media(max-width:767.68px){
	.course-curator__container {
		margin-top: 40px;
	}
}
/* --------------------------------------------------------- */
/* ------------------------Pseudo Classes------------------- */
@media(max-width:1218px){
	.header-classes__body .header__menu{
		margin-right: 0px;
	}
}
@media(max-width:991.98px){
	.pseudo-classes__body:not(:last-child){
		margin-bottom: 0px;
	}
	.header-classes__menu ul{
		display: block;
	}
	.header-classes__menu ul li ul{
		position: relative;
	}
	.header-classes__body .header-classes__menu{
		background-color: rgb(24, 220, 227);
	}
	.header-classes__body {
		min-height: 50px;
	}
	.header-classes__logo {
		width: 40px;
		height: 40px;
	}
	.header-classes__menu ul{
		padding-top: 70px;
	}
	.header-classes__menu ul li ul{
		padding: 0;
	}
	.content__container {
		padding-top: 100px;
	}
	.pseudo-classes__column {
		flex: 0 1 33.33%;
		margin-bottom: 20px;
	}
	.pseudo-classes__column:last-child {
		flex: 0 1 100%;
	}
}
@media(max-width:767.98px){
	.pseudo-classes__column {
		flex: 0 1 50%;
		margin-bottom: 20px;
	}
	.pseudo-classes__column:last-child {
		flex: 0 1 50%;
	}
	.pseudo-classes__code {
		margin-bottom: 20px;
	}
} 
@media(max-width:489px){
	.pseudo-classes__column {
		flex: 0 1 100%;
		margin-bottom: 20px;
	}
	.pseudo-classes__column:last-child {
		flex: 0 1 100%;
	}
	.pseudo-elements__title {
		letter-spacing: 2px;
		font-size: 24px;
	}
	.tabs__link {
		margin: 0 5px 10px 0;
	}
} 