/* --------- ОБНУЛЕННЯ СТИЛІВ ТЕГІВ ------------ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
/* ------------------------------------------------ */
/*-------------- Підключення шрифтів--------------- */
@font-face {
	font-family: "Lato";
	src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/lato/Lato-Bold.woff2") format("woff2"), url("../fonts/lato/Lato-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/lato/Lato-Black.woff2") format("woff2"), url("../fonts/lato/Lato-Black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}
/* ------------------------------------------------ */
/*----------------- Загальні стилі----------------- */
html{
	height: 100%;
}
body {
	line-height: 1;
	font-family: "Lato", sans-serif;
	color: #424551;
}
.svg{
	max-width: 100%;
	height: auto;
}
.page{
	flex: 1 1 auto;
	overflow: hidden;
}
[class*="__container"]{
	max-width: 1250px;
	margin: 0 auto;
	padding: 0px 10px;
}
.title {
	font-weight: 900;
	line-height: 130%;
	color: #1E212C;
	font-size: 46px;
}
@media(max-width:767.98px){
	.title{
		font-size: 30px;
	}

}
.sub-title{
	font-weight: 700;
	line-height: 150%;
	color: #1E212C;
}
.course-text {
	line-height: 160%;
}
.activ{
	color: #FF3F3A;
	z-index: 6;
}
.wrapper{
	min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.footer {
	font-size: 18px;
	font-weight: 700;
	color:#ffffff;
	text-transform: uppercase;
	background: rgb(9,193,231);
	background-image: radial-gradient(circle, rgba(9,193,231,1) 45%, rgba(180,34,169,1) 47%, rgba(63,94,251,1) 85%, rgba(252,70,107,1) 100%);	text-align: center;
	padding: 15px;
}

.pseudo-classes__line {
	display: block;
	position: absolute;
}
.line-top {
	width: 100%;
	height: 2px;
	left: -100%;
	top: 0;
	background:linear-gradient(90deg, transparent, #ffffff)
}
.pseudo-classes__item:hover .line-top{
	left: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
.line-bottom {
	width: 100%;
	height: 2px;
	right: -100%;
	bottom: 0;
	background:linear-gradient(270deg, transparent, #ffffff)
}
.pseudo-classes__item:hover .line-bottom{
	right: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
.line-left {
	width: 2px;
	height: 100%;
	left: 0;
	bottom: -100%;
	background:linear-gradient(90deg, transparent, #ffffff)
}
.pseudo-classes__item:hover .line-left{
	bottom: 100%;
	transition: 1s;
	transition-delay: 0s;
}
.line-right {
	width: 2px;
	height: 100%;
	right: 0;
	top: -100%;
	background:linear-gradient(90deg, transparent, #ffffff)
}
.pseudo-classes__item:hover .line-right{
	top: 100%;
	transition: 1s;
	transition-delay: 0s;
}
.pseudo-classes__item:hover .button__line-right{
	left: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
.item-classes__btn{
	min-height: 50px;
	display: flex;	
	align-items: center;
	background-color: rgb(17, 175, 203);
	background-size:300% 50%;
	transition: 0.4s;
	padding: 5px 30px;
	color:#fff;
	border-radius: 10px;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 2px;
	top: 0;
	box-shadow: 3px 4px 1px #020202;
}
.item-classes__btn:hover{
	background-color: rgb(36, 17, 203);
	transition: 0.4s;
}
/*--------------------------------------------------*/
/*--------------------------------------------------*/
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #fff;
}

.header::before{
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	opacity: 0.2;
	z-index: 5;
}
.header__body {
	min-height: 92px;
	display: flex;
	padding-bottom: 5px;
	padding-top: 5px;
	align-items: center;
	justify-content: space-between;
}
.header__logo{
	margin-right: 20px;
	position: relative;
	z-index: 6;
}
.header__logo img{
	max-width: 100%;
}
.header__inner {
	display: flex;
	align-items: center;	
}
.header__burger {
	display: none;
	position: relative;
	z-index: 7;
}
.header__menu{
	margin-right: 225px;
}
.menu__btn {
	display: none;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	justify-content:flex-start;
}
.menu__list li:not(:last-child){
	margin-right: 40px;
}
.menu__item {
	position: relative;
	z-index: 6;
}
.menu__item::after{
	content:'';
	position: absolute;
	height: 2px;
	background-color: rgb(255, 63, 58);
	width: 0;
	bottom: 0;
	left: 45%;
	transition: all 0.5s ease 0s;
}
.menu__item:hover::after{
	content:'';
	width: 100%;
	left: 0;
}
.menu__link {
	line-height: 160%;
	font-weight: 700;
}
.menu__link:hover{
	color: rgb(217, 10, 100);
	transition: all 0.6s ease 0s;
}
.header__buttons {
	display: flex;
	column-gap: 36px;
	align-items: center;
	position: relative;
	z-index: 6;
}
.header__btn {
	display: flex;
	font-weight: 700;
	align-items: center;
	letter-spacing: 0.5px;
	padding: 5px 40px;	
}
.btn-consultation{
	box-shadow: 3px 4px 1px rgb(0, 0, 0);
	min-height: 52px;
	text-align: center;
	border-radius: 4px;
	background-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	top: 0;
	color:#ffffff;
	transition: all 0.5s ease 0s;
	background-size: 300% 50%;
}
.btn-consultation:hover{
	background-position: right;
	transition: all 0.6s ease 0s;
	background-image: linear-gradient(90deg, #e43603, #fffbfc, #FF3F3A);
}
.btn-consultation:active{
	position: relative;
	box-shadow: 1px 1px 1px rgb(0, 0, 0);
	transition: all 0.2s ease 0s;
	top: 2px;
}
.button-authorization {
	color:#000000;
	background:transparent;
	padding: 0;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
}
.button-authorization:hover{
	color:#FF3F3A;
	transition: all 0.2s ease 0s;
}
.button-authorization::before {
	content:'';
	background:url('../img/profile.svg') 0 0 no-repeat;
	position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
	width: 20px;
	height: 20px;
}
/* ------------------------------------------------ */
/*---------------------COURSE-----------------------*/
.page__course {
	padding-top: 192px;
	padding-bottom: 120px;
	position: relative;
}
.page__course::before{
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	opacity: 0.2;
}
.course__container {
	text-align: center;
}
.course__sub-title:not(:last-child) {
	margin-bottom: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FF3F3A;
}
.course__title {
	max-width: 1020px;
	margin: 0 auto;
}
/* ------------------------------------------------ */
/* ---------------page__aboutthecourse------------- */
.page__aboutthecourse {
}
.aboutthecourse__container {
	margin-top: 120px;
}
.aboutthecourse__body {
	display: flex;
	justify-content: space-between;
}
.aboutthecourse__content {
	max-width: 600px;
	margin-right: 20px;
	flex: 1 1 60%;
}
.aboutthecourse__title {
	margin-bottom: 40px;
}
.aboutthecourse__text {
	margin-bottom: 48px;
}
.aboutthecourse-list__title {
	font-size: 28px;
	margin-bottom: 24px;
}
.aboutthecourse__list li:not(:last-child){
	margin-bottom: 4px;
}
.aboutthecourse__list ul li{
	background:url("../img/check.svg") left 6px no-repeat;
	padding-left: 32px;
}
.aboutthecourse__sidebar {
	flex: 1 1 40%;
	height: 100%;
	max-width: 495px;
	padding: 40px 32px;
	border: 1px solid #E5E8ED;
	transition-duration: 500ms;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	border-radius: 4px;
}
.aboutthecourse__sidebar:hover{
	transform: scale(1.03);	
	transition-duration: 500ms;
}
.aboutthecourse__items {
	margin-bottom: 40px;
}
.sidebar-aboutthecourse__item:not(:last-child){
	margin-bottom: 32px;
}
.sidebar-item__sub-title {
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1E212C;
	font-size: 14px;
	margin-bottom: 4px;
}
.sidebar-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 130%;
	color: #FF3F3A;
	margin-bottom: 8px;
}
.sidebar-item__text {
	color: #787A80;
}
.sidebar__btn {
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
}
.aboutthecourse__body>*:last-child{
	margin-bottom: 0;
}
/* ----------------------------------------------------------- */
/* ---------------------page__course-curator------------------ */
.page__course-curator {
	margin-bottom: 50px;
}
.course-curator__container {
	margin-top: 180px;
}
.course-curator__body {
	display: flex;
}
.course-curator__image {
	flex: 0 0 50%;
	padding-right: 25px;
}
.course-curator__image img{
	max-width: 100%;
}
.course-curator__content {
	flex: 1 1 auto;
    padding: 20px 0px 0px 0px;
}
.course-curator__abouttheauthor {
	margin-bottom: 16px;
}
.course-curator__sub-title {
	letter-spacing: 1px;
	margin-bottom: 8px;
}
.course-curator__title {
	text-transform: capitalize;
}
.course-curator__position {
	color: #787A80;
	font-size: 20px;
	line-height: 150%;
	margin-bottom: 32px;
}
.course-curator__list {
	margin-bottom: 32px;
}
.course-curator__list ul li{
	font-weight: 700;
}
.course-curator__list ul li :not(:last-child) {
	margin-bottom: 4px;
}
.course-curator__list ul li:nth-child(1)::before{
	content:"";
	background:url('../img/star.svg') 0 0 no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 8px;
}
.course-curator__list ul li:nth-child(2)::before{
	content:"";
	background:url('../img/play.svg') 0 0 no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 8px;
}
.course-curator__list ul li:nth-child(3)::before{
	content:"";
	background:url('../img/person.svg') 0 0 no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 8px;
}
.course-curator__text {
	max-width: 609px;
	margin-bottom: 40px;
}
.social__list {
	display: flex;
	column-gap: 24px;
	align-items: center;
}
.social__item {
	border-radius:50%;
}
.social__link{
	display: block;
	transition: all 0.8s ease 0s;
}
.social__link:hover {
	color:#FF3F3A;
	transition: all 0.8s ease 0s;
	transform: scale3d(1.15, 1.15, 1.15);
}
.social__link:active {
	color:#420d0b;
	transition: all 0.5s ease 0s;
}
.course-curator__body>*:last-child{
	margin-bottom: 0;
}
/* -------------------------------------------------------------------- */
/* -------------------------pseudo-classes__btn ----------------------- */
.pseudo-classes__btn {
	text-align: center;
}
.pseudo-classes__container{
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20px;
	flex-wrap: wrap;
}
.button {
	display: inline-flex;
	position: relative;
	text-transform: uppercase;
	align-items: center;
	text-align: center;
	justify-content: center;
	color:#087aa0;
	font-size: 18px;
	letter-spacing: 5px;
	min-height: 52px;
	padding: 5px 30px;
	transition: 0.4s;
	overflow: hidden;
	font-weight: 700;
}
.button__line{
	display: block;
	position: absolute;
}
.button__line-top{
	width: 100%;
	height: 2px;
	left: -100%;
	top: 0;
	background:linear-gradient(90deg, transparent, #128cf0)
}
.button:hover .button__line-top{
	left: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
.button__line-bottom{
	width: 100%;
	height: 2px;
	right: -100%;
	bottom: 0;
	background:linear-gradient(270deg, transparent, #128cf0)
}
.button:hover .button__line-bottom{
	right: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
.button__line-right{
	width: 2px;
	height: 100%;
	right: 0;
	top: -100%;
	background:linear-gradient(0deg, transparent, #128cf0)
}
.button:hover .button__line-right{
	top: 100%;
	transition: 1s;
	transition-delay: 0s;
}
.button__line-left{
	width: 2px;
	height: 100%;
	left: 0;
	bottom: -100%;
	background:linear-gradient(180deg, transparent, #128cf0)
}
.button:hover .button__line-left{
	bottom: 100%;
	transition: 1s;
	transition-delay: 0s;
}
.button:hover{
	background-color: #128cf0;
	transition-delay: 1s;
	color:rgb(171, 40, 40);
	box-shadow: 0 0 10px #128cf0, 0 0 30px #128cf0, 0 0 70px #128cf0;
}

/* ----------------------------------------------------- */
/* --------------------Pseudo Classes. Шапка------------ */
.wrapper-classes {
	position: relative;
}
.wrapper-classes::before{
	content:'';
	position: absolute;
	background:url('../img/phon.png') 0 0 / 100% 100% no-repeat;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
}
.header-classes {
	position: fixed;
	left: 0;
	width: 100%;
	right: 0; 
	z-index: 100;
	background-color: rgb(13, 17, 240);
}
.header-classes::before{
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(13, 17, 240);
	left: 0;
	top: 0;
	z-index: 5;
}
.header-classes__body {
	align-items: center;
	display: flex;
	min-height: 80px;
	justify-content: space-between;
	padding: 5px 5px 0px 5px;
}
.header-classes__logo {
	width: 50px;
	display: flex;
	height: 50px;
	background-color: red;
	border-radius: 50%;
	position: relative;
	z-index: 6;
}
.header-classes__burger {
	position: relative;
	z-index: 6;
}
.header-classes__menu{
	margin: 0;
}
.header-classes__menu ul{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	z-index: 6;
	position: relative;
}
.header-classes__menu > ul li a{
	display: block;
	background-image: linear-gradient(180deg, rgb(234, 13, 153) 0%, rgb(178, 21, 21) 0%, rgb(192, 22, 214) 50%, rgb(17, 17, 124) 100%);
	padding: 15px 20px 15px 20px;
	font-size: 18px;
	color:#00ffdd;
	text-transform: uppercase;
	transition: 0.5s;
}
.header-classes__menu ul li ul a{
	color:#000000;
	background-image: linear-gradient(180deg, rgba(42,40,101,1) 0%, rgba(51,141,142,1) 50%, rgba(44,41,88,1) 100%);
}
.header-classes__menu li a:hover{
	background-image: linear-gradient(180deg, rgba(9,9,9,1) 0%, rgba(92,58,58,1) 50%, rgba(10,10,10,1) 100%);	
	color:#fff;
	transition: 0.5s;
}
.header-classes__menu ul li{
	position: relative;
}
.header-classes__menu ul li ul{
	position: absolute;
	display: none;
	width: 100%;
}
.header-classes__menu li > ul li a{
	padding: 5px;
	text-transform: none;
	background-color:#e4e4e5;
}
.header-classes__menu ul li:hover ul{
	display: block;
}

/* ---------------------------------------------------------------- */
/* ----------------------pseudo-classes__block--------------------- */
.content__container {
	padding-top: 250px;
}
.pseudo-classes__block{
	margin-bottom: 50px;
}
.pseudo-classes__body {
	display: flex;
    margin: 0px -10px;
    flex-wrap: wrap;
}
.pseudo-classes__body:not(:last-child){
	margin-bottom: 10px;
}
.pseudo-classes__title {
	text-align: center;
	margin-bottom: 15px;
	color:#ffffff;
	text-transform: uppercase;
	letter-spacing: 4px;
	z-index: 1;
	position: relative;
}
.pseudo-classes__text{
	text-align: center;
}
.pseudo-classes__column {
	padding: 0px 10px;
    flex: 0 1 25%;
}
.pseudo-classes__item {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.5s ease 0s;
	height: 100%; 
}
.pseudo-classes__item:not(:last-child){
	margin-right: 20px;
}
.pseudo-classes__inner {
	padding: 10px;
}
.pseudo-classes__image img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.pseudo-classes__image{
	padding: 0px 0px 60% 0px;
	position: relative;
	perspective: 1000px;
}
.item-hover {
	transition-delay: 0.5s;
	background-color: rgb(11, 133, 181);
}
.item-hover h3{
	letter-spacing: 3px;
	color:#75056a;
}
.item-image__front, .item-image__back{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	transition: 1s;
	backface-visibility: hidden;
}
.item-image__back{
	transform: rotateY(180deg);
	transition-delay: 0.8s;
	background-color: #3500a0;
}
.item-hover:hover .item-image__front{
	transform: rotateY(180deg);	
	transition-delay: 1s;
}
.item-hover:hover .item-image__back{
	transform: rotateY(360deg);	
	transition-delay: 1s;
}
.item-image__front{	
	transition-delay: 1s;	
	background-color: rgb(11, 133, 181);
}
.item-hover:hover{
	background-color: #128cf0;
	color:rgb(255, 255, 255);
	transform: scale3d(1.05, 1.05, 1.05);
	box-shadow: 0 0 10px #128cf0, 0 0 20px #128cf0, 0 0 50px #128cf0;
	transition-delay: 0.8s;
}
.pseudo-classes__sub-title:not(:last-child) {
	margin-bottom: 10px;
}
.pseudo-classes__text:not(:last-child) {
	margin-bottom: 30px;
}
.item-active{
	background-color: #660a6b;
	color:#ffffff;
	transition: 0.5s;
}
.item-active h3{
	color:rgb(15, 237, 237);
	letter-spacing: 3px;
}
.item-active .pseudo-classes__text:active{
	transition: 0.5s;
	color:#f40606;
}
.item-active .item-classes__btn:active{
	background-color: #4e0652;
}
.item-classes__button {
	justify-content: center;
	display: flex;
}

.item-classes__btn:active{
	position: relative;
	top:3px;
	box-shadow: 1px 1px 1px #020202;
	color:#f40606;
}
.item-focus {
	color:#000000;
	transition: 0.5s;
	height: 100%;
	background-color: #d112bd;
}
.item-focus h3{
	color:#200a8f;
	letter-spacing: 3px;
}
.item-focus .pseudo-classes__text{
	color: #3d0437;
}
.item-focus:focus{
	border-radius:20px;
}
.item-focus .item-classes__btn:focus{
	background-color: #d746c8;
}
.item-focus .pseudo-classes__text a:focus{
	color:#50ff10;
	transition: 0.5s;
	outline: 5px solid #020202;
}
.item-visited{
	background-color: #0011cd;
	transition: 0.5s;
}
.item-visited h3{
	color:#d205d2;
	letter-spacing: 3px;
}
.item-visited .pseudo-classes__text{
	text-align: center;
	gap:5px;
	color:#b90af3;
}
.item-visited .pseudo-classes__text a:visited{
	color:#17e1c9;
}
.item-visited .item-classes__btn:visited{
	background-color: #200a8f;
}
.item-target {
	background-color: rgb(4, 17, 139);
	padding: 20px;
	z-index: 1;
	position: relative;
}
.target__sub-title {
	color: rgb(237, 0, 190);
	letter-spacing: 3px;
	margin-bottom: 15px;
}
.tabs{
	text-align: center;
}
.tabs__switch {
	position: fixed;
}
.tabs__switch:target + .tabs__link + .tabs__content{
	display: block;
}
.tabs__link {
	display: inline-block;
	color:#0fabd7;
	font-size: 17px;
	margin: 0 20px 10px 0;
	padding-bottom: 4px;
	position: relative;
	transition: 0.5s;
}
.tabs__link::before{
	content:'';
	position: absolute;
	bottom: 0;
	background-color: #fff;
	width: 0;
	height: 2px;
	left: 45%;
	transition: 0.5s;
}
.tabs__link:hover::before{
	width: 100%;
	left: 0;
	transition: 0.5s;
}
.tabs__link:hover{
	color:#d112bd;
	transition: 0.5s;
}
.tabs__content {
	float: right;
	display: none;
	width: 100%;
	text-align: justify;
	padding: 25px;
}
.tabs-content__one{
	color:#15ff00;
	background-color: rgb(9, 188, 164);
}
.tabs-content__two{
	color:#dce0eb;
	background-color: rgb(188, 9, 119);
}
.tabs-content__three{
	color:#002589;
	background-color: rgb(9, 188, 42);
}
/* ---------------------------------------------------------------- */
/* ------------------Псевдокласи положення у коді------------------ */
.pseudo-classes__code {
	position: relative;
	margin-bottom: 50px;
}
.pseudo-classes__code::after {
	content:'';
	background:url('../img/background.jpg') 0 0 / 100% 100% no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	border-radius: 20px 0px 20px 0px
}
.code__block {
	position: relative;
	z-index: 2;
	padding: 25px;
}
.code__item:not(:last-child){
	margin-bottom: 10px;
}
.code__item:nth-child(odd){
	color:#00eeff;
}
.code__item:nth-child(even){
	color:#15ff00;
}
.code__item:nth-child(2){
	color:#ff00b3;
}
.code__item:first-child{
	color:#ff0e0e;
}
.code__item:last-of-type{
	color:#032dff;
}
/* ---------------------------------------------------------------- */
/* --------------------------Псевдоелементи------------------------ */

.pseudo-elements {
	position: relative;
	z-index: 1;
	margin-bottom: 30px;
}
.pseudo-elements__title {
	color:#ffffff;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.pseudo-elements__title:not(:last-child){
	margin-bottom: 15px;
}
.pseudo-elements__block {
	background-color: rgb(0, 255, 255);
	padding: 25px;
	box-shadow: 4px 5px 2px #000;
	border-radius: 20px 0px 20px 0px;
}
.pseudo-elements__item ol{
	counter-reset: item;
}
.pseudo-elements__item ol li::before{
	content:counter(item) ".";
	counter-increment: item;
	display: inline-block;
	margin-right: 5px;
	color:#cd004f;
}
.pseudo-elements__item ol li:nth-child(odd){
	color:#ff008c;
}
.pseudo-elements__item ol li:nth-child(even){
	color:#6a00ff;
}
.pseudo-elements__item ol li{
	letter-spacing: 2px;
	font-size: 17px;
}
.pseudo-elements__item ol li:not(:last-child){
	margin-bottom: 10px;
}
.pseudo-elements__item ol:not(:last-child){
	margin-bottom: 20px;
}
.pseudo-elements__btn {
	display: flex;
	justify-content: center;
}
.pseudo-elements__item a{
	display: flex;
	min-height: 50px;
	padding: 5px 40px;
	text-align: center;
	align-items: center;
	background-color: rgb(7, 255, 24);
	color:rgb(13, 47, 198);
	border-radius: 20px;
	letter-spacing: 0.22em;
	text-transform: uppercase;
	box-shadow:2px 3px 1px #1b0589;
	position: relative;
	top: 0;
	transition: all 0.4s ease 0s;
}
.pseudo-elements__item a:active{
	position: relative;
	top: 2px;
	box-shadow:1px 1px 1px #1b0589;
	transition: all 0.4s ease 0s;
}
.pseudo-elements__item a:hover{
	color:#ffffff;
	background-color: rgb(187, 4, 4);
	transition: all 0.5s ease 0s;
}
.pseudo-elements__item a span::after{
	content: "";
	display: inline-block;
	background:url('../img/arrow.png') 0 0 no-repeat;
	width: 16px;
	height: 16px;
	top: 2px;
	left: 5px;
	position: relative;
	z-index: 2;
	min-height: 100%;
}
/* ---------------------------------------------------------------- */
/* -------------------------------Гра------------------------------ */
.body{
	background-color: rgb(56, 29, 29);
	position: relative;
}
.game-box__container {
	max-width: 600px;
	height: 100%;
	margin: 0 auto;
	border:1px solid rgb(236, 3, 3);
	background-color: rgb(13, 231, 209);
	position: relative;
	z-index: 2;
	padding: 10px;
	margin-top: 30px;
}
.game-box__start {
	cursor: pointer;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color:#E5E8ED;
	background-color: rgb(7, 7, 172);
}
.game-box__finish {
	cursor: pointer;
	width: 150px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color:#E5E8ED;
	background-color: rgb(7, 7, 172);
	margin-left: 416px;
}

.game-box__block-one {
	width: 20px;
	height: 200px;
	margin-left: 15px;
	background-color: rgb(159, 55, 55);
	cursor: pointer;
}
.game-box__block-two {
	width: 250px;
	height: 20px;
	margin-left: 15px;
	background-color: rgb(18, 164, 40);
	cursor: pointer;
}
.game-box__block-three {
	width: 20px;
	height: 150px;
	margin-left: 245px;
	background-color: rgb(117, 2, 162);
	cursor: pointer;
}
.game-box__block-four {
	width: 120px;
	height: 10px;
	margin-left: 245px;
	background-color: rgb(69, 205, 191);
	cursor: pointer;
}
.game-box__block-five {
	width: 10px;
	height: 130px;
	margin-left: 355px;
	background-color: rgb(9, 15, 137);
	cursor: pointer;
}
.game-box__block-six {
	width: 140px;
	height: 10px;
	margin-left: 355px;
	background-color: rgb(205, 20, 209);
	cursor: pointer;
}
.game-box__block-seven {
	width: 5px;
	height: 20px;
	margin-left: 490px;
	background-color: rgb(4, 31, 38);
	cursor: pointer;
}
.game-box__container *{
	visibility: hidden;
	opacity: 0;
}
.game-box__start{
	visibility: visible;
	opacity: 1;
}
.game-box__start:hover ~.game-box__block-one{
	visibility: visible;
	opacity: 1;
	transition: 1s;
}
.game-box__block-one:hover{
	visibility: visible;
	opacity: 1;
}
.game-box__block-one:hover ~.game-box__block-two{
	visibility: visible;
	opacity: 1;
	transition: 1s;
}
.game-box__block-two:hover{
	visibility: visible;
	opacity: 1;
}
.game-box__block-two:hover ~.game-box__block-three{
	visibility: visible;
	opacity: 1;
	transition: 1s;
}
.game-box__block-three:hover{
	visibility: visible;
	opacity: 1;
}
.game-box__block-three:hover ~.game-box__block-four{
	visibility: visible;
	opacity: 1;
	transition: 1s;
}
.game-box__block-four:hover{
	visibility: visible;
	opacity: 1;
}
.game-box__block-four:hover ~.game-box__block-five{
	visibility: visible;
	opacity: 1;
	transition: 1s;
}
.game-box__block-five:hover{
	visibility: visible;
	opacity: 1;
}
.game-box__block-five:hover ~.game-box__block-six{
	visibility: visible;
	opacity: 1;
	transition: 1s;
}
.game-box__block-six:hover{
	visibility: visible;
	opacity: 1;
}
.game-box__block-six:hover ~.game-box__block-seven{
	visibility: visible;
	opacity: 1;
	transition: 1s;
}
.game-box__block-seven:hover{
	visibility: visible;
	opacity: 1;
}
.game-box__block-seven:hover ~.game-box__finish{
	visibility: visible;
	opacity: 1;
	transition: 1s;
}
.game-box__finish:hover{
	visibility: visible;
	opacity: 1;
}